<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <h2>See Your Impact</h2>
    <h3 id="total"></h3>
    <h4>Total number of meals donated so far</h4>
    {{!-- insert map of markers --}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/impact.js"></script>